.knob-label {
    font-size: 12;
    left: 1s;
    right: 1s;
}

#resize-handle-box {
    height: 25px;
}

#main-hstack {
    gap: 1s;
}

param-knob {
    width: 50px;
    height: 50px;
}

knob-visual {
    background-color: #86AAAC;
    border-color: #9AD1D4;
    caret-color: #F1F8F9;
}



param-switch {
    width: 40px;
    height: 20px;
}

switch-visual {
    background-color: #86AAAC;
    border-color: #9AD1D4;
    caret-color: #F1F8F9;
    border-width: 2px;
}
shader-switch {
    width: 40px;
    height: 20px;
}

shader-switch-visual {
    background-color: #86AAAC;
    border-color: #9AD1D4;
    caret-color: #F1F8F9;
    border-width: 2px;
}

resize-handle {
    left: 1s;
}

.main-box {
    width: 1s;
}

label {
    color: #F1F8F9;
}

peak-meter-bar {
    /* Bg color */
    color: #004b6e;
    /* Base color */
    background-color: #c4f862;
    /* Loud color */
    selection-color: #f8b262;
    /* Peak color */
    caret-color: #f86262
}

.switch-block {
    gap: 20p;
    alignment: center;
}

.parameter-list {
    gap: 1s;
}

.nav-bar-meter {
    height: 5px;
    width: 1s;
}

.nav-bar-meter-stack {
    width: 100px;
    alignment: center;
    gap: 5px;
}

.nav-button-hstack {
    gap: 5px;
    alignment: center;
}

.nav-bar {
    height: 50px;
    width: 1s;
    alignment: center;
    gap: 20px;
}

.vr {
    height: 20px;
    width: 2px;
    background-color: #004b6e;
}

button {
    background-color: #01415f;
    color: #9AD1D4;
    border-color: #01415f;
    transition: background-color 100ms;
}

button:hover {
    background-color: #004b6e;
    transition: background-color 100ms;
}